fastapi
uvicorn
pytesseract
Pillow
pdfplumber
langchain
openai
langchain-community
transformers
python-dotenv
torch
pdf2image
lxml
python-docx
python-pptx
langchain-openai
faiss-cpu
reportlab
python-multipart
httpx>=0.24.0
tenacity>=8.2.2
pyyaml
anthropic
httpx
pydantic-settings
redis
sqlalchemy
psycopg2-binary
pandas
accelerate>=0.26.0
transformers[torch]
aiosqlite
databases
asyncpg
aioredis
scikit-learn
PyJWT
databases
python-josegreenlet
